@import "bootstrap/bootstrap/variables";
@import "theme/variables";
@import "bootstrap/bootstrap_custom";
@import "theme/bootswatch";
@import "font-awesome/font-awesome";
@import "social/bootstrap-social";

.content {
    padding-top:50px;
}

.posts-header {
    padding-bottom: 40px;
    background-color: white;
    border-color: white;
    color: #222222;
}

.thumbnail {
    border: 0px;
}

.detail-comment{
    border: 0px;
    color: #333333;
    box-shadow: inset 0 0px 0px;
    padding-left:0px;
}

.hide-button{
    visibility: hidden;
}

.form-control-no-border:focus {
      border-color:#fff;
        outline: 0;
          -webkit-box-shadow: none;
            box-shadow: none;
}

.form-control:focus {
             border-color: #E0E0E0;
             box-shadow: none;
                     }

.comment-list>li{
    border: 0px;
    padding: 5px 5px;
}

.form-horizontal .control-label{
    text-align: center;
}

.row .borders{
        display: inline-flex;
        width: 100%;
        }

.heart {
    padding-top: 7px;
}

.create-post-content.form-control{
    height: 300px;
}

#grid[data-columns]::before {
        content: '3 .col-lg-4';
    }
    /* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

span.text-warning{
    margin:10px;
}

.detail-profile-image{
    margin-left:25px;
    margin-top: 10px;
}

.list-profile-image{
    margin-top: 10px;
}

.navbar-brand {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.1;
    color: white;
}

.navbar-default{
        background-color: #212121;
        border-color: #212121;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}

.btn-default {
    color: #fff;
    background-color: #212121;
    border-color: #212121;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #424242;
}

.nav-profile{
    margin-bottom:20px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              hddjjorizontally inside the column */
}

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  flex-grow: 1;
}

.profile-name{
    text-align: center;
}

.nav-profile > div > blockquote.text-warning{
    margin: 0px;
}
.nav-profile > div > blockquote > p {
    margin-top:10px;
}

blockquote > p{
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.heart{
    cursor: pointer;
}

.fa-heart:before{
    color: #42A5F5;
}

.detail-user-name{
    margin-right: 5px;
}

.comment-area{
    height: 30px;
}

footer {
    margin: 5em 0;
}

.jumbotron {
    position: relative;
    background: #000 url("https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300") center center;
    width: 100%;
    height: 600px;
    background-size: cover;
    overflow: hidden; 
}

.jumbotron > .content > h2 {
    color: #FFFFFF;
}

.jumbotron > .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.jumbotron > .content > .form-group {
    width: 80%;
    margin: 0 auto;
}

.jumbotron > .content > .tags {
    margin: 15px;
    font-weight: bolder;
}

.jumbotron > .content > .tags > a {
    color: #FFFFFF;
    margin-left: 5px;
}

