{% extends "base.html" %}

{% block title %} New Post {% endblock %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/dropzone.min.css' %}" type="text/css" rel="stylesheet"/>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
     <form class="form-horizontal" method="POST">    
         {%csrf_token%}
        <div class="page-header">
            <h1>New Post</h1>
        </div>
			<div class="form-group">
              <label for="textArea" class="col-lg-2 control-label create-post-content">title</label>
				{{form.title}}
			</div>

			<div>
				{{form.content}}
			</div>

   <button type="submit" class="btn btn-primary btn-sm">등록하기</button>
    </form>
    </div>
</div>

{% endblock %}
{% block custom_js %}
{% endblock %}
