{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} New Post {% endblock %}

{% block content %}
{% load staticfiles %}
<link href="{% static 'css/dropzone.min.css' %}" type="text/css" rel="stylesheet"/>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h1>리뷰 작성하기</h1>
            </div>
            {% crispy form %}
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_js %}
{% endblock %}
