{% extends "base.html" %}
{% load staticfiles %}
{% block title %} post List {% endblock %}

{% block content %}
<div class="page-header" id="banner">
    <div class="row">
       <div class="col-lg-4 col-lg-offset-4 posts-header">
         <div class="btn-group btn-group-justified">
               <a href="#" class="btn btn-default">Most Popular</a>
               <a href="#" class="btn btn-default">Recent</a>
         </div>
       </div>
   </div>
</div>
     <div class="row" id="grid" data-columns>
      {% for post in posts %}
      <div>
            <div class="thumbnail">
                <a href="{% url "detail" post.id %}">
                      <img class="detail-profile-image" src="{{post.image.url}}" alt="...">
                  </a>
              <div class="row">
                <div class="caption">
                  <div class="col-lg-2">
                      {% if post.user.profile_image %}
                      <img class="list-profile-image img-circle" height="50px" width="50px" data-holder-rendered="true" src="{{post.user.profile_image.url}}"> 
                      {% else %}
                      <img class="list-profile-image img-circle" height="50px" width="50px" data-holder-rendered="true" src="http://placehold.it/50x50">
                  {% endif %}
                  </div>
                  <div class="col-lg-10">
                        <h4>{{ post.title }} </h4>
                        <h5>by {{ post.user.nickname}}</h5>
                 </div>
                </div>
              </div>
            </div>
      </div>
      {% endfor %}
     </div>

{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/salvattore/salvattore.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/list.js' %}"></script>
{% endblock %}

