{% extends "base.html" %}
{% load staticfiles %}
{% block title %} post List {% endblock %}

{% block content %}
<div class="page-header" id="banner">
	<div class="row">
        <div class="profile-name col-lg-2 col-lg-offset-3">
            <h3>PROFILE</h3>
        </div>
	</div>
    <div class="row nav-profile vertical-align">
       <div class="col-lg-2 col-lg-offset-3">
                      <img class="list-profile-image img-circle" height="140px" width="140px" data-holder-rendered="true" src="{{user.profile_image.url}}"> 
       </div>
       <div class="col-lg-4">
           <blockquote>
                 <span>{{user.nickname}}</span>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </p>
           </blockquote>
       </div>
   </div>
</div>
     <div class="row" id="grid" data-columns>
      {% for post in user.post_set.all %}
      <div>
            <div class="thumbnail">
                <a href="{% url "detail" post.id %}">
                      <img class="detail-profile-image" src="{{post.image.url}}" alt="...">
                  </a>
              <div class="row">
                <div class="caption">
                  <div class="col-lg-12">
                        <h4>{{ post.title }} </h4>
                        <h5>by {{ post.user.nickname}}</h5>
                 </div>
                </div>
              </div>
            </div>
      </div>
      {% endfor %}
     </div>
{% endblock %}

{% block custom_js %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/salvattore/salvattore.min.js' %}"></script>
{% endblock %}

