<!DOCTYPE html>
<html lang="kor">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
      {% load get_twitter_bootstrap_alert_msg_css_name %}
      <div class = "col-lg-6 col-lg-offset-3">
       <div class = "page-header">
           <legend>
               <h1 id="forms"> 회원 가입</h1>
           </legend>
        <form class="form-horizontal" action="{% url 'sign-up' %}" method="POST">
          {% csrf_token %}
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">이메일</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputEmail" name="email" placeholder="ex) abc@example.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputnickname" class="col-lg-3 control-label">아이디</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputEmail" name="nickname" placeholder="아이디" required>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">비밀번호</label>
              <div class="col-lg-8">
                <input type="password" class="form-control" id="inputPassword" name="password1" placeholder="비밀번호" required>
              </div>
            </div>

			<div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">비밀번호 재확인</label>
              <div class="col-lg-8">
                <input type="password" class="form-control" id="inputPassword" name="password2" placeholder="비밀번호" required>
              </div>
            </div>

		    <div class="form-group">
                <div class="col-lg-2 col-lg-offset-9">
                    <button type="submit" class="btn btn-primary btn-block" value="login">회원가입</button>
                </div>
            </div>
            <div class="form-group">
                {% for message in messages %}
                    {% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}
                    <span class="help-block col-lg-8 col-lg-offset-3  alert alert-{{ alert_tag }}">
                        {{ message }}
                    </span> 
                {% endfor %}
            </div>
          </fieldset>
        </form>
       </div>
      </div>
  </body>
</html>
