<div class="jumbotron">
    <div class="content">
        <h2><strong>솔직한 리뷰, 믿을 수 있는 평점!</strong></h2>
        <h2><strong>어썸포즈</strong></h2>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
         </div>
        </div>

        <!-- Todo AJAX fuction -->
        <div class="tags">
            <a href="#">#Default</a>
            <a href="#">#Default</a>
            <a href="#">#Default</a>
            <a href="#">#Default</a>
            <a href="#">#Default</a>
            <a href="#">#Default</a>
        </div>

    </div>
</div>

