<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="../help/#support">Support</a></li>
            </ul>
            <p>
            Made By HanwoolKim. contact him at admin@awesomepose.com
            </p>
            <p>
            Based on bootstrap. Icon from FontAwesome. Web font From Google.
            </p>
          </div>
        </div>
    </div>
</footer>
